body {
	font-family: "Roboto", sans-serif;
}

h1,
h2 {
	text-align: center;
}

#tooltip {
	position: absolute;
}

main {
	display: flex;
	width: 98vw;
	justify-content: center;
	justify-items: center;
}
